/*

Layabouts 2.0 Theme
mostly by Zachary Hinchliffe
with a little bit of help from Henri Watson (thanks!)

-----------------------

COLOR REFERENCE:

JOE -- purple: #80f;
SAINT -- yellow: #ed0;
LEIDEN -- blue: #16e;
TED -- red: #f00;
NATE -- green: #0d0;
ZACH -- orange: #f70;

*/

body {
	background: #000 url("/static/layabouts/img/bg_loop.png") repeat-y scroll center;
	margin: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
    font-family: Futura, Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.0em;
	color: #fff;
	text-align: center;
}

#main {
	position: absolute;
	width: 1000px;
	top: 0;
	left: 50%;
	margin-left: -500px;
	background-color: #3b3b3b;
	z-index: 4;
	min-height: 100%;
}

#fringe-left, #content, #fringe-right {
	position: absolute;
	top: 0px;
	height: 100%;
}

#fringe-left, #fringe-right {
	z-index: 1;
}

#fringe-left {
	left: 0px;
	width: 15px;
}

#content {
	left: 15px;
	width: 950px;
	padding: 0px 10px;
}

#fringe-right {
	left: 985px;
	width: 15px;
}

hr {
	margin: 1em auto;
}

hr.full {
	width: 900px;
	color: #ddd;
	background-color: #dcdcdc;
	height: 4px;
}

hr.half {
	width: 475px;
	color: #ddd;
	background-color: #dcdcdc;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	font-size: 0.666em; /* no religious intent!!! */
	text-align: right;
	margin-bottom: 32px;
	margin-right: 32px;
	line-height: 1.5em;
}

a:link, a:visited { color: #dce; }
a:hover, a:active { color: #a9c; }

#logo {
	background-image: url("/static/layabouts/img/logo.png");
	background-repeat: no-repeat;
	background-position: top center;
	width: auto;
	height: 160px;
	margin: 32px auto 8px;
	line-height: 290px;
	font-style: italic;
	font-size: 0.75em;
	padding-right: 10px;
	text-align: center;
}

#links {
	font-size: 0.85em;
}

#demilinks {
	font-size: 0.8em;
}








/* BOXES */

normal-box {
	/* yeah! */
}

.bl {background: url("../img/box-bl.png") 0 100% no-repeat #222222;}
.br {background: url("../img/box-br.png") 100% 100% no-repeat}
.tl {background: url("../img/box-tl.png") 0 0 no-repeat}
.tr {background: url("../img/box-tr.png") 100% 0 no-repeat; padding:10px;}
.clear {font-size: 1px; height: 1px}

.clearboth { clear: both; }